ul.Gallery {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
li.Image {
  position: relative;
  list-style-type: none;
  width: calc(100vw / 4);
  height: calc(100vw / 4);
}
li.Image .Container {
  height: calc(100vw / 4);
  width: calc(100vw / 4);
}
li.Image a {
  text-decoration: none;
  -webkit-text-stroke: 0.025em black;
  font-size: 2em;
  font-weight: bold;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
}
