.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Image {
  flex: 1;
  max-height: 100vmin;
  max-width: 100vmin;
}
.Controls {
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: black;
}
.Controls .Control div {
  display: inline-block;
}
.Control .Name {
  width: 10vw;
}
.Control .RangeControl {
  width: 80vw;
}
.Control .RangeControl input[type='range'] {
  width: 100%;
}
.Control .NumberControl {
  width: 10vw;
}
.Control .NumberControl input[type='number'] {
  width: 80%;
}
