.Container {
  background-color: black;
  overflow: hidden;
}
.Controls.hidden {
  display: none;
}

.Controls {
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  /* height: 100vh; */
  color: white;
  background-color: black;
}
input {
  display: block;
  width: calc(100% - 3em);
}
