.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}
.Image svg {
  max-height: 100vh;
}
.Controls {
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  color: white;
  background-color: black;
}
.Controls .Control {
  display: flex;
}
.Controls .Control div {
}
.Control .Name {
  width: 20%;
}
.Control .RangeControl {
  flex: 1;
}
.Control .RangeControl input[type='range'] {
  width: 100%;
}
.Control .NumberControl {
  width: 10%;
}
.Control .NumberControl input[type='number'] {
  width: calc(100% - 8px);
}
